.center {
	text-align: center;
}
h1, h2, h3 {
	font-family: 'Montserrat', sans-serif;
	color: #414042;
}

.black h1, .black h2, .black h3 {
	color:#f2f2f2;
}
.white {
	background-color: #f2f2f2;
}
.black {
	background-color: #414042;
}
.full {
	height: 100%;
}

.coffeeIcon{
	width: 20%;

}
.icon{
	padding-top: 10%;
	width: 40%;
}
.arrow {
	width: 10%;
}
.arrow2 {

	width: 10%;
	padding-top: 10%
}
.arrow3 {
	width: 10%;
	padding-top: 10%
}
.title {
	padding-top: 5%;
}
.parts{
	padding-top: 25%;
}

/* media queries */
@media (max-width: 600px) {
.coffeeIcon{
	width: 40%;

}
.icon{
	padding-top: 10%;
	width: 60%;
}
.arrow {
	width: 30%;
}
.title {
	padding-top: 50%;
}
}
.back{
	position: absolute;
	top: 3%;
	left: 2%;
	text-decoration: none !important;
}
.about {
	position: absolute;
	top: 3%;
	right: 2%;
	z-index: 10;
	color: #414042;
	text-decoration: none;
}

.textAbout {
	margin-top: 20%;
}



